<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <!--<div class="about__image">
     <img src="{{ 'images/profile.jpg' | relative_url }}" alt="">

      
    </div>-->

    <div class="about__content">
      <h3 class="title">Marty Carcosa</h3>
      {% include component-socials.html %}<br/>
   

      <p>I've been making minis for about 30 years since stumbling across some space marines at a carboot sale before getting into 2nd ed 40k.</p>
      <p>Nowadays I'm mostly making weird narrative models for I28 and posting them on Instagram. But as all social media seems to be going down the toilet and well, I used to make websites for a living, I though I might do this the old school way and show off my stuff here...</p>

      
    </div>
  </div>
</section>