---
layout: default
---

{% if page.accent_color %}{% capture accent_color %}{{ page.accent_color }}{% endcapture %}{% endif %}

<div class="page-project" style="--accent: {{ accent_color }}">

	<header class="post__header header--single">

		<div class="wrap">
			<h1 class="post__title">{{ page.title }}</h1>
			<h2 class="post__subtitle subtitle--light">{{ page.subtitle }}</h2>
		</div>

		<img src="{{ 'images/studies/' | relative_url}}{{ page.featured_image }}" class="post__featured-image">

	</header>


	<section class="post-full">

		<div class="wrap">

			<article class="post__content {% if page.highlight_first %}highlight-first{% endif %}">
				{{ page.content }}
				<div>
					<hr>
					<h6>Data catagorised as:</h6>
					<br/>
					<span>
						{% for tag in page.tags %}
						  {% capture tag_name %}{{ tag }}{% endcapture %}
						  <a href="/tag/{{ tag_name }}"><span class="tag"><nobr>{{ tag_name }}</nobr></span>&nbsp;</a>
						{% endfor %}
					  </span>
				</div>
			</article>
			
		</div>

	</section>

	{% include section__about.html divider=true %}
</div>